<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<div th:replace="~{head :: head('Edit Exam')}"></div>
<body>
<main>
    <nav th:replace="~{side-nav :: side-nav}"></nav>

    <div class="container">
        <button type="button" class="return-btn">
            <i class="fa-solid fa-arrow-left"></i>
            <a th:href="@{/admin/units/edit/{id}(id=${unit.id})}">Return To Unit</a>
        </button>
        <h1><span th:text="${unit.name}"></span></h1>
        <form action="#" th:action="@{/admin/units/{id}/exam(id=${unit.id})}" th:object="${unit}" method="post">
            <!-- Questions Section -->
            <h2>Exam</h2>
            <div id="questions-container">
                <div th:each="question, questionStat : ${unit.examQuestions}" th:id="'question-' + __${question.id}__"
                     class="question">
                    <input type="text" th:field="*{examQuestions[__${questionStat.index}__].id}" hidden/>

                    <div class="form-group">
                        <button type="button" class="remove-button" onclick="removeQuestion(this)">&#10006;</button>
                        <label for="questionText"><strong>Question:</strong></label>
                        <input id="questionText" type="text"
                               th:field="*{examQuestions[__${questionStat.index}__].text}"
                               required/>
                    </div>

                    <div class="form-group">
                        <label for="questionType">Type:</label>
                        <select id="questionType" th:field="*{examQuestions[__${questionStat.index}__].type}"
                                th:disabled="${question.id != null}">
                            <option value="MULTIPLE_CHOICE">Multiple Choice</option>
                            <option value="TRUE_FALSE">True/False</option>
                        </select>
                    </div>

                    <!-- Options Section for Multiple Choice -->
                    <div class="options-container" th:if="${question.type.name() == 'MULTIPLE_CHOICE'}">
                        <span>Options:</span>
                        <div th:each="option, optionStat : ${question.options}" class="input-container">
                            <div class="option-group" th:id="'option-' + __${option.id}__">
                                <input type="text"
                                       th:field="*{examQuestions[__${questionStat.index}__].options[__${optionStat.index}__].id}"
                                       hidden/>

                                <!-- Option input field with remove button inside -->
                                <div class="input-wrapper">
                                    <input type="text"
                                           th:field="*{examQuestions[__${questionStat.index}__].options[__${optionStat.index}__].text}"
                                           required/>
                                    <button type="button" class="remove-option-button" onclick="removeOption(this)">
                                        &#10006;
                                    </button>
                                </div>
                                <!-- Radio button to select the correct answer -->
                                <input type="radio"
                                       th:field="*{examQuestions[__${questionStat.index}__].correctAnswerId}"
                                       th:value="${option.id}"/>
                            </div>
                        </div>
                        <button type="button"
                                th:onclick="'addOption(this,'+ ${questionStat.index} + ')'">
                            Add Option
                        </button>
                    </div>
                    <!-- For True/False Questions -->
                    <div th:if="${question.type.name() == 'TRUE_FALSE'}">
                        <span>Options:</span>
                        <label><input type="radio"
                                      th:field="*{examQuestions[__${questionStat.index}__].correctAnswerId}"
                                      th:value="1"/>True</label>
                        <label><input type="radio"
                                      th:field="*{examQuestions[__${questionStat.index}__].correctAnswerId}"
                                      th:value="2"/>False</label>
                    </div>
                </div>
            </div>
            <br>
            <button type="button" onclick="addQuestion()">Add Question</button>
            <hr>
            <br>
            <button type="submit">Save Exam</button>
        </form>
    </div>
</main>
<div th:replace="~{footer :: footer}"></div>

<script src="/js/services.js"></script>
<script>

    let newQuestionIndex = -1;

    function addQuestion() {
        newQuestionIndex++;

        const container = document.getElementById('questions-container');
        const newQuestion = document.createElement('div');
        newQuestion.classList.add('question')
        newQuestion.innerHTML = `
        <div class="form-group">
            <button type="button" class="remove-button" onclick="removeQuestion(this)">&#10006;</button>
            <label for="questionText">Question:</label>
            <input id="questionText" type="text" name="newExamQuestions[${newQuestionIndex}].text" required/>
        </div>

        <div class="form-group">
            <label for="questionType">Type:</label>
            <select id="questionType" name="newExamQuestions[${newQuestionIndex}].type" onchange="showOptions(this, ${newQuestionIndex})">
                <option value="" selected disabled hidden>Choose type..</option>
                <option value="MULTIPLE_CHOICE">Multiple Choice</option>
                <option value="TRUE_FALSE">True/False</option>
            </select>
        </div>

        <span>Options:</span>
        <div id="options-${newQuestionIndex}">
        </div>
        `;
        container.appendChild(newQuestion);
    }

    function showOptions(select, questionIndex) {
        const optionsContainer = document.getElementById('options-' + questionIndex);

        if (select.value === 'MULTIPLE_CHOICE') {
            optionsContainer.innerHTML = `
            <div class="input-container">
            </div>
            <button type="button" onclick="addOption(this, ${questionIndex}, 'newExamQuestions')">Add Option</button>
            `
        } else {
            optionsContainer.innerHTML = `
            <label><input type="radio" name="newExamQuestions[${questionIndex}].correctAnswerId" value="1" checked/>True</label>
            <label><input type="radio" name="newExamQuestions[${questionIndex}].correctAnswerId" value="2"/>False</label>
            `
        }
    }

    let newOptionId = 1;

    function addOption(button, questionIndex, questionType = 'questions') {
        const container = button.parentElement.querySelector('.input-container');
        const newOption = document.createElement('div');
        newOption.classList.add('option-group');
        newOptionId++;
        newOption.innerHTML = `
        <div class="input-wrapper">
            <input type="text" name="${questionType}[${questionIndex}].newOptions[${newOptionId}].text" required />
            <button type="button" class="remove-option-button" onclick="removeOption(this)">&#10006;</button>
        </div>
        <input type="radio" name="${questionType}[${questionIndex}].correctAnswerId" value="${-newOptionId}" required/>
        `;
        container.appendChild(newOption);
    }

    function removeOption(button) {
        const optionGroup = button.parentElement.parentElement;
        const idAttribute = optionGroup.getAttribute('id');
        const optionId = idAttribute ? idAttribute.substring('option-'.length) : null;
        const url = optionId ? `/admin/lessons/options/${optionId}` : null;
        removeItem(url, optionGroup);
    }

    function removeQuestion(button) {
        const question = button.parentElement.parentElement;
        const idAttribute = question.getAttribute('id');
        const questionId = idAttribute ? idAttribute.substring('question-'.length) : null;
        const url = questionId ? `/admin/lessons/questions/${questionId}` : null;
        removeItem(url, question);
    }

    const form = document.querySelector('form');
    form.addEventListener('submit', enableSelections);

    function enableSelections() {
        document.querySelectorAll('select').forEach(select => {
            select.disabled = false;
        })
    }

</script>
</body>
</html>
